{{!-- scripts: ["scripts/about.js"] --}}
<h1 class="text-amber-800">Про нас</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda beatae deserunt dicta distinctio explicabo fugiat hic ipsa laborum magni officiis perspiciatis provident reiciendis, repellendus temporibus vel voluptatem. Corporis, exercitationem?</p>
{{> contactForm}}